@font-face {
  font-family: "Montserrat, Regular" !important;
  src: url("./Montserrat/Montserrat-Regular.ttf") format("truetype");
}
body {
  font-family: "Montserrat, Regular" !important;
  font-size: 16px !important;
}
h1 {
  font-family: "Montserrat, Semi Bold" !important;
  font-size: 48px !important;
  }
h2 {
  font-family: "Montserrat, Semi Bold";
  font-size: 30px;
}
.search-box {
  font-family: "Montserrat, Regular";
  font-size: 16px;
}
.book-name {
  font-family: "Montserrat, Regular";
  font-size: 12px;
}
.book-author {
  font-family: "Montserrat, Regular";
  font-size: 12px;
}
.genre-card {
  font-family: "Montserrat, Regular";
  font-size: 20px;
}
.text-box {
  border-radius: 4px;
  padding: 0 10px;
  max-height: 40px;
}
#gutenberg-intro {
  height: 30vh;
  background-image: url('../assets/images/Pattern.svg');
}
.btn-images__wrapper {
  width: 10%;
  text-align: center;
}
.btn-text {
  width: 80%;
  text-align: left;
}
.btn-images {
  height: 20px;
  width: 20px;
}
.genre-card {
  display: flex;
  border-radius: 4px;
  padding: 0 10px;
  height: 50px;
  width: 80%;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
  text-transform: uppercase;
}
.book-card {
  width: 114px;
  height: 162px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
}

