@font-face {
  font-family: "Montserrat, Regular" !important;
  src: url("${process.env.PUBLIC_URL}/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}
body {
  font-family: "Montserrat, Regular" !important;
  font-size: 16px !important;
}
h1 {
  font-family: "Montserrat, Semi Bold" !important;
  font-size: 48px !important;
  color: #5E56E7;
}
h2 {
  font-family: "Montserrat, Semi Bold";
  font-size: 30px;
}
ul {
  list-style: none;
}
.search-box {
  font-family: "Montserrat, Regular";
  font-size: 16px;
}
.book-name {
  font-family: "Montserrat, Regular";
  font-size: 12px;
}
.book-author {
  font-family: "Montserrat, Regular";
  font-size: 12px;
}
.text-box {
  border-radius: 4px;
  padding: 0 10px;
  max-height: 40px;
}
text-box:focus {
  outline-color: #5E56E7;
}
.gutenberg-intro {
  height: 30vh;
  display: flex;
  align-items: flex-end;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.btn-images__wrapper {
  width: 10%;
  text-align: center;
}
.btn-text {
  width: 80%;
  text-align: left;
}
.btn-images {
  height: 20px;
  width: 20px;
}
.genre-card {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0px 10px;
  height: 50px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
  text-transform: uppercase;
  font-family: "Montserrat, Regular";
  font-size: 20px;
  margin-top: 20px;
  background-color: #fff;
  text-decoration: none !important;
}
.book-card {
  width: 114px;
  height: 162px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
}
.gutenberg-btns {
  padding-top: 20px;
  background-color: #F8F7FF;
  height: 70vh;
}
.gutenberg-btns div {
  text-align: left;
}
.common-css-col {
  text-align: center !important;
}
.back-btn {
  display: flex;
  text-transform: uppercase;
  color: #5E56E7;
  text-decoration: none;
}
.back-btn:hover {
  text-decoration: none;
}
.back-btn__text {
  margin-left: 10px;
}
.books-info__header {
  height: 30vh;
}
.books-info__header__search-block {
  display: flex;
}
.books-info__header__search-block .search-icon {
}
.books-info__header__search-block .cancel-icon {
}
.img-search-block {
  width: 40px;
}
.img-cancel-block {
  width: 40px;
}


